{% extends "base/BS_Base.html" %}
{% block content %}

    <form action="/appoint/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="staffid">Staff ID</label>
            <input type="text" class="form-control" id="staffid" name="staffid" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="name">Staff Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select id="category" name="category" class="form-control">
                <option value="Sales">Sales</option>
                <option value="Service">Service</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Block level button</button>
    </form>

{% endblock %}