{% extends "base/BS_Base.html" %}
{% block content %}
    <h1 class="display-1 text-center p-5">Give Complaint</h1>
    <form action="/new_give_complaint/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="complaintid">Complaint ID</label>
            <input type="text" class="form-control" id="complaintid" name="complaintid">
        </div>
        <div class="form-group">
            <label for="customername">Customer Name</label>
            <input type="text" class="form-control" id="customername" name="customername">
        </div>
        <div class="form-group">
            <label for="complaint">Complaint</label>
            <input type="text" class="form-control" id="complaint" name="complaint">
        </div>
        <div class="form-group">
            <label for="complaintdate">Complaint Date</label>
            <input type="text" class="form-control" id="complaintdate" name="complaintdate">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit
        </button>
    </form>

{% endblock %}