{% extends "base/BS_Base.html" %}
{% block content %}
    <h1 class="display-1 text-center p-5">Login</h1>
    <form action="/log/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit
        </button>
    </form>

{% endblock %}