{% extends "base/BS_Base.html" %}
{% block content %}
    <h1 class="display-1 text-center p-5">Add Vehicle Model</h1>
    <form action="/add_new_model/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="modelnumber">Vehicle Model Number</label>
            <input type="text" class="form-control" id="modelnumber" name="modelnumber">
        </div>
        <div class="form-group">
            <label for="name">Model Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="enginecapacity">Engine Capacity</label>
            <input type="text" class="form-control" id="enginecapacity" name="enginecapacity">
        </div>
        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="file" class="form-control" id="photo" name="photo">
        </div>
        <div class="form-group">
            <label for="cc">CC</label>
            <input type="text" class="form-control" id="cc" name="cc">
        </div>
        <div class="form-group">
            <label for="tankcapacity">Tank Capacity</label>
            <input type="text" class="form-control" id="tankcapacity" name="tankcapacity">
        </div>
        <div class="form-group">
            <label for="mileage">Mileage</label>
            <input type="text" class="form-control" id="mileage" name="mileage">
        </div>
        <div class="form-group">
            <label for="colour">Color</label>
            <input type="text" class="form-control" id="colour" name="colour">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit
        </button>
    </form>

{% endblock %}