{% extends "base/BS_Base.html" %}
{% block content %}
    <h1 class="display-1 text-center p-5">New Service</h1>
    <form action="/change_service/{{ data.id }}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="servicename">Service Type</label> {{ data.servicename }}(Selected)
            <select id="servicename" name="servicename" class="form-control">
                <option value="General">General</option>
                <option value="First Service">First Service</option>
                <option value="Second Service">Second Service</option>
                <option value="Third Service">Third Service</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit
        </button>
    </form>

{% endblock %}