{% extends "base/BS_Base.html" %}
{% block content %}

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Vehicle Model Number</th>
            <th scope="col">Name</th>
            <th scope="col">Engine Capacity</th>
            <th scope="col">Photo</th>
            <th scope="col">CC</th>
            <th scope="col">Tank Capacity</th>
            <th scope="col">Mileage</th>
            <th scope="col">Colour</th>
            <th scope="col">Prize</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.vehiclemodelnumber }}</td>
                <td>{{ vehicle.name }}</td>
                <td>{{ vehicle.enginecapacity }}</td>
                <td>{{ vehicle.photo }}</td>
                <td>{{ vehicle.cc }}</td>
                <td>{{ vehicle.tankcapacity }}</td>
                <td>{{ vehicle.mileage }}</td>
                <td>{{ vehicle.colour }}</td>
                <td>{{ vehicle.price }}</td>
                <td><a href="/remove_vehicle_functions/{{ vehicle.id }}">Remove</a></td>
                <td><a href="/update_vehicle/{{ vehicle.id }}">Update</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}