{% extends "base/BS_Base.html" %}
{% block content %}

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Spare Parts Number</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Photo</th>
            <th scope="col">Unit</th>
            <th scope="col">Price</th>
            <th scope="col">Stock Quantity</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        {% for part in parts %}
            <tr>
                <td>{{ part.sparepartnumber }}</td>
                <td>{{ part.name }}</td>
                <td>{{ part.description }}</td>
                <td>{{ part.photo }}</td>
                <td>{{ part.unit }}</td>
                <td>{{ part.price }}</td>
                <td>{{ part.stockquantity }}</td>
                <td><a href="/remove_price_functions/{{ part.id }}">Remove</a></td>
                <td><a href="/update_spare/{{ part.id }}">Update</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}